.Nav_Third_Cont{
    // width: 300px;
    // border: 1px solid red;
    // text-align: right;
  
}
.navBar_Profile_Message_Cont{
    // border: 1px solid black;
    display: flex;
    justify-content:end;
    // gap: 10px;
    // width: 40%;
    margin: auto;
}
.profile_Message_Icon_Cont{
    // border: 1px solid rgb(230, 31, 31);
   margin: auto;
//    padding: 70px;
   
}
.profile_Message_Icon_Cont_1,.profile_Message_Icon_Cont_2,.profile_Message_Icon_Cont_3{
    // border: 1px solid rgb(230, 31, 31);
    font-size: x-large;
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 60px;
    margin: auto;
    background-color: rgb(229, 233, 238);
}
.profile_Message_Icon_Cont_4{
    // border:  1px solid green;
    width: 7%;
    padding: 5px;
    border-radius: 50px;
    overflow: hidden;

}
.profile_Message_Icon_Cont_4 span img{
    width: 100%;
    border-radius: 50px;
    }