.SideBar_First_Container{
    border-bottom:1px solid rgb(229, 233, 238);
    height:64vh;
    background-color: rgb(240,242,245);
}
.SideBar_Second_Container{
    // border: 1px solid red;
    height: 50vh;
    background-color: rgb(240,242,245);
}