.Nav_Second_Cont{
    width: 35%;
    display: grid;
    place-items: center;
}

.Nav_Icon_cont {
    // border:  1px solid black;
    width: 100%;
    margin-right: 300px;
    padding: 5px;
    // height: 5vh;
}

.Nav_Icon_cont ul{
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    // width: 95%;
    list-style: none;
    margin: auto;
}
.Nav_Icon_cont ul li:hover{
    border-bottom: 2px solid rgb(10,102,255);
    color:rgb(10,102,255);
    cursor: pointer;
}
.icon_ul li{
    font-size:25px;
    color: rgb(101,103,107);
}