.combo_cont{
    //  border:  1px solid red;
    display: flex;
    gap: 10px;
    // justify-content: space-around;
    padding: 5px;
}
.shortcut_name_{
    // border:  1px solid red;
    display: flex;
    justify-content: space-between;
    width: 53%;
}
.shortcut_child_cont{
    // border:  1px solid red;
    padding: 5px;
    color: rgb(117,119,123);
    font-weight: 500;
}
.name_cont{
    // border:  1px solid red;
   padding: 5px;
    color: rgb(117,119,123);
    font-weight: 500;
    
}
.SlOptions{
    // border:  1px solid red;
     padding: 5px;
     border-radius: 5px;
}
.SlOptions:hover{
    background-color:rgb(223, 229, 240);
    cursor: pointer;
}
.shortcut_common_cont{
    //  border:  1px solid rgb(9, 102, 42);
     border-radius: 10px;
}
     .shortcut_common_cont:hover{
        background-color: rgb(229, 233, 238);
        cursor: pointer;
     }
.SideBarShortCutIcon{
    // border:  1px solid red;
    width: 15%;
    border-radius: 10px;
    padding: 3px;
}
.SideBarShortCutIcon img{
    border-radius: 10px;
    width: 100%;
}
.label_cont{
    // border:  1px solid red;
    display: grid;
    width: 90%;
place-items: center;
font-size: 12px;
}
.main_combo{
    // border:  3px solid rgb(8, 32, 253);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3px;
    width: 52.5%;
   
}